diff --git a/.gitignore b/.gitignore
index fc6e43879b90bc8a638b6912f0c119008825229b..1bad89d8b8acd44d628b0afb9af732761ee2c3c9 100644
--- a/.gitignore
+++ b/.gitignore
@@ -1,32 +1,33 @@
 # See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
 
 # dependencies
 /node_modules
 
 # next.js
 /.next/
 /out/
 
 # production
 /build
 
 # debug
 npm-debug.log*
 yarn-debug.log*
 yarn-error.log*
 .pnpm-debug.log*
 
 # env files
 .env*
+!.env.local
 
 # vercel
 .vercel
 
 # typescript
 *.tsbuildinfo
 next-env.d.ts
 
 .vercel
 
 # Local Netlify folder
 .netlify
